@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #6366F1;
  --color-dark: #0F172A;
  --color-card: #1E293B;
}

html,
body,
#root{
  height:100%;
}

body{
  margin:0;
}

@keyframes slideIn{

from{
transform:translateX(100%);
}

to{
transform:translateX(0);
}

}

.animate-slideIn {
  animation:slideIn .3s ease;
}

button {
  cursor: pointer;
}